﻿@{
    ViewBag.Title = "Home Page";
}
<h2>Product View</h2>
<div ng-controller="storeController">
    <h1>STORE</h1>
    <ul class="list-group text-center">
        <li class="col-xs-6 col-md-3 col-sm-3 col-lg-3 list-group-item" ng-repeat="product in products">
            <figure>
                <img width="100" height="100" src="~/Resource/images/mac.jpg" />
                <figcaption>
                    {{product.ProductName}}
                    <h3>{{product.Price | currency}}</h3>
                </figcaption>
            </figure>
            <input class="btn btn-success" type="button" ng-click="addItemToCart(product)" value="BUY" />
        </li>
    </ul>
    <div ng-show="cart.length !== 0">
        <h1>CART-SHOW</h1>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="c in cart">
                <h4>
                    {{c.name}} |                <span style="color:blue"> {{c.count}} </span>
                    | {{c.price*c.count | currency}}
                </h4>
                <input class="btn btn-danger" type="button" ng-click="removeItemCart(c)" value="Remove" />
            </li>
        </ul>
        Total : {{total | currency}}
    </div>
</div>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">

    </div>*@
    <div class="col-md-8">
        <h2>Talk Details</h2>
            <div ng-controller="eventController">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Speaker</th>
                        <th>Venue</th>
                        <th>Duration</th>
                    </tr>
                    <tr ng-repeat="talk in talks">
                        <td> {{talk.id}}</td>
                        <td> {{talk.name}}</td>
                        <td> {{talk.speaker}}</td>
                        <td> {{talk.venue}}</td>
                        <td> {{talk.duration}}</td>
                    </tr>
                </table>
            </div>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>